/__pycache__
/generated
/models
/Civitai-api.key
/civitaiModels
/static/json/settings.json
/static/json/saved_prompts.json
/static/json/form_data.json
/.VSCodeCounter
/easyUI-main.zip
/static/json/models.json
/static/json/-models.json
/test.py
/tools/__pycache__
/venv
/bfg-1.15.0.jar