Flask
diffusers==0.32.2
Pillow
transformers==4.48.1
opencv-python==4.10.0.84
torch --index-url https://download.pytorch.org/whl/cu126
torchvision --index-url https://download.pytorch.org/whl/cu126
torchaudio --index-url https://download.pytorch.org/whl/cu126
compel
accelerate