Flask
diffusers
Pillow
transformers
opencv-python
torch --extra-index-url https://download.pytorch.org/whl/cu124
torchvision --extra-index-url https://download.pytorch.org/whl/cu124
torchaudio --extra-index-url https://download.pytorch.org/whl/cu124
compel