<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <title>Settings Editor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-new.css') }}">
</head>
<body>
    <div id="all">
        <h1>Settings Editor</h1>

        <form id="settings-form" class="form" onsubmit="saveSettings(event)">
            <label for="theme-select">Theme:</label>
            <select id="theme" name="theme-select">
            </select>

            <label for="hf-token">HF Token:</label>
            <input type="password" id="hf-token" name="hf-token" placeholder="Enter your HF token">

            <label for="attention-slicing">Enable Attention Slicing:</label>
            <select id="attention-slicing" name="attention-slicing">
                <option value="True">True</option>
                <option value="False">False</option>
            </select>

            <label for="xformers">Enable xformers Memory Efficient Attention:</label>
            <select id="xformers" name="xformers">
                <option value="True">True</option>
                <option value="False">False</option>
            </select>

            <label for="cpu-offload">Enable Model CPU Offload:</label>
            <select id="cpu-offload" name="cpu-offload">
                <option value="True">True</option>
                <option value="False">False</option>
            </select>

            <label for="sequential-cpu">Enable Sequential CPU Offload:</label>
            <select id="sequential-cpu" name="sequential-cpu">
                <option value="True">True</option>
                <option value="False">False</option>
            </select>

            <label for="long-clip">Use Long Clip:</label>
            <select id="long-clip" name="long-clip">
                <option value="True">True</option>
                <option value="False">False</option>
            </select>

            <label for="show-latents">Show Latents:</label>
            <select id="show-latents" name="show-latents">
                <option value="True">True</option>
                <option value="False">False</option>
            </select>

            <label for="load-previous-data">Load Previous Form Data:</label>
            <select id="load-previous-data" name="load-previous-data">
                <option value="True">True</option>
                <option value="False">False</option>
            </select>

            <button type="submit">Save Settings</button>
        </form>
        <script src="{{url_for('static', filename='js/loadJson.js')}}" defer></script>
        <script src="{{url_for('static', filename='js/settings.js')}}" defer></script>
        <script src="{{url_for('static', filename='js/theme.js')}}" defer></script>
    </div>
</body>
</html>
