<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <title>Settings Editor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-new.css') }}">
</head>
<body>
    <div id="all">
        <h1>Settings Editor</h1>

        <form id="settings-form" class="form" onsubmit="saveSettings(event)">
            <label for="theme-select">Theme:</label>
            <select id="theme" name="theme-select">
            </select>

            <label for="attention-slicing">Enable Attention Slicing:</label>
            <select id="attention-slicing" name="attention-slicing">
                <option value="True">True</option>
                <option value="False">False</option>
            </select>

            <label for="xformers">Enable xformers Memory Efficient Attention:</label>
            <select id="xformers" name="xformers">
                <option value="True">True</option>
                <option value="False">False</option>
            </select>

            <label for="cpu-offload">Enable Model CPU Offload:</label>
            <select id="cpu-offload" name="cpu-offload">
                <option value="True">True</option>
                <option value="False">False</option>
            </select>

            <label for="sequential-cpu">Enable Sequential CPU Offload:</label>
            <select id="sequential-cpu" name="sequential-cpu">
                <option value="True">True</option>
                <option value="False">False</option>
            </select>

            <label for="long-clip">Use Long Clip:</label>
            <select id="long-clip" name="long-clip">
                <option value="True">True</option>
                <option value="False">False</option>
            </select>

            <label for="long-clip-model">Long Clip Model:</label>
            <input type="text" name="long-clip-model" id="long-clip-model">

            <label for="fallback-vae-model">Fallback VAE Model:</label>
            <input type="text" name="fallback-vae-model" id="fallback-vae-model">

            <label for="default-clip-model">Default Clip Model:</label>
            <input type="text" name="default-clip-model" id="default-clip-model">

            <label for="fallback-tokenizer-model">Fallback Tokenizer Model:</label>
            <input type="text" name="fallback-tokenizer-model" id="fallback-tokenizer-model">

            <label for="image-size">Preview Image Size:</label>
            <select id="image-size" name="image-size">
                <option value="100">100%</option>
                <option value="75">75%</option>
                <option value="50">50%</option>
                <option value="25">25%</option>
            </select>

            <label for="update-page-in-background">Update Page In Background:</label>
            <select id="update-page-in-background" name="update-page-in-background">
                <option value="True">True</option>
                <option value="False">False</option>
            </select>

            <label for="show-latents">Show Latents:</label>
            <select id="show-latents" name="show-latents">
                <option value="True">True</option>
                <option value="False">False</option>
            </select>

            <label for="load-previous-data">Load Previous Form Data:</label>
            <select id="load-previous-data" name="load-previous-data">
                <option value="True">True</option>
                <option value="False">False</option>
            </select>

            <label for="reset-on-new-request">Reset Images On New Request:</label>
            <select id="reset-on-new-request" name="reset-on-new-request">
                <option value="True">True</option>
                <option value="False">False</option>
            </select>

            <label for="reverse-image-order">Image Display Order:</label>
            <select id="reverse-image-order" name="reverse-image-order">
                <option value="False">New Last</option>
                <option value="True">New First</option>
            </select>

            <label for="use-multi-prompt">Use Multiple Prompt:</label>
            <select id="use-multi-prompt" name="use-multi-prompt">
                <option value="True">True</option>
                <option value="False">False</option>
            </select>

            <label for="multi-prompt-separator">Multiple Prompt Seperator:</label>
            <input type="text" name="multi-prompt-separator" id="multi-prompt-separator">

            <div id="form-separator"></div>

            <p>ip and port will apply after restarting the server</p>
            <label for="host">Host: (IP)</label>
            <input type="text" name="host" id="host">

            <label for="host">Port:</label>
            <input type="number" name="port" id="port" min="0">

            <div id="form-separator"></div>

            <button type="submit">Save Settings</button>
        </form>
        <script src="{{url_for('static', filename='js/loadJson.js')}}" defer></script>
        <script src="{{url_for('static', filename='js/settings.js')}}" defer></script>
        <script src="{{url_for('static', filename='js/theme.js')}}" defer></script>
    </div>
</body>
</html>
